<app-navbar-cliente nombre="Rodrigo Zúñiga" pagina="misPedidos"></app-navbar-cliente>

<div class="contenedor container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-secundario" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
        </div>
    </div>

    <div class="row titulos-lista">
        <div class="col-5 col-sm-8"><span class="negrita">Fecha</span></div>
        <div class="col-4 col-sm-3 alinear-derecha"><span class="negrita">Monto</span></div>
        <!-- <div class="col-3 col-sm-2 alinear-derecha"><span><a href="#"><i class="fas fa-list-alt"></i></a></span></div> -->
    </div>
    <div class="lista-pedidos">
        <app-item-pedidos *ngFor="let pedido of pedidos" fecha={{pedido.fecha}} monto={{pedido.monto}}>
        </app-item-pedidos>
    </div>

</div>