<div class="background">

</div>

<div class="contenedor">
    <div class="contenido">
        <div>
            <div class="form-group">
                <input [(ngModel)]="email" type="email" class="form-control" id="email"
                    placeholder="Correo electrónico">
            </div>
            <div class="form-group">
                <input [(ngModel)]="contrasenna" type="password" class="form-control" id="password"
                    placeholder="Contraseña">
            </div>
            <button (click)="validarContrasenna()" type="submit" class="btn ingresar-btn">Ingresar</button>
        </div>
        <p class="registrate-text">¿Quieres formar parte de nuestra comunidad?<a href="/registroComprador"
                class="registrate-btn">Registro</a>
        </p>
    </div>
</div>