<app-navbar-cliente nombre={{nombre}} pagina="verPuesto">
</app-navbar-cliente>

<div class="contenedorPrincipal">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 columnaIzquierda ">
                <img class="perfilImagen" src="../../../assets/user-default.png" alt="Usuario" srcset="">
            </div>
            <div class="col-sm-8 columnaDerecha ">
                <div class="letraEmpresa">
                    <span class="letraNombre">{{empresa}}</span>
                </div>
                <div class="informacionPuesto">
                    <i class="fas fa-phone-alt"></i>
                    <span>{{telefono}}</span></div>
                <div class="informacionPuesto">
                    <i class="fas fa-envelope"></i>
                    <span>{{correo}}</span></div>
                <div class="informacionPuesto">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>{{ubicacion}}</span></div>
            </div>
        </div>
        <div class="media  comentario">
            <img src="../../../assets/user-default.png" class="mr-3 imgComentario" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{nombre}}</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control comentarioInput" placeholder="Agregar comentario"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secundario" type="button" id="button-addon2"><i
                                class="fas fa-chevron-right iEnviar"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-unstyled">
            <li class="media comentario">
                <img src="../../../assets/user-default.png" class="mr-3 imgComentario" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media comentario">
                <img src="../../../assets/user-default.png" class="mr-3 imgComentario" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media comentario">
                <img src="../../../assets/user-default.png" class="mr-3 imgComentario" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
        </ul>
    </div>
</div>