.contenedorPrincipal {
    margin-top: 100px;
}

.columnaDerecha {
    margin-left: 0;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width:575px) {
    .columnaDerecha {
        margin: 0 15px;
    }
}

.columnaIzquierda {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.perfilImagen {
    width: 200px;
    height: 200px;
    /* border: 1px solid green; */
    margin: 20px 0;
    margin-right: 0;
    border-radius: 8px;
}

.letraNombre {
    color: #60574E;
    font-weight: bold;
    font-size: 20px;
}

i {
    color: #60574E;
}

span {
    padding-left: 5px;
    color: #60574E;
}

.imgComentario {
    width: 45px;
    height: 45px;
    border-radius: 8px;
}

.comentario {
    background-color: #c7ba8e;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 8px;
}

.comentarioInput {
    background-color: #D0C7A5;
    border: none;
}

input[type="text"].comentarioInput:focus {
    outline: 0 none !important;
    outline-color: #60574e !important;
}