.contenedorPrincipal {
    margin-top: 100px;
}

.columnaDerecha {
    padding-top: 50px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width:575px) {
    .columnaIzquierda {
        margin-top: 0px;
    }
    .columnaDerecha {
        padding-top: 0;
    }
}

.columnaIzquierda {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.letraEmpresa {
    text-align: center;
}

.perfilImagen {
    width: 200px;
    height: 200px;
    /* border: 1px solid green; */
    margin: 20px 0;
    margin-right: 0;
    border-radius: 8px;
}

.informacionPuesto {
    padding: 3px 30px;
}

.letraNombre {
    color: #60574E;
    font-weight: bold;
    font-size: 20px;
}

i {
    color: #60574E;
}

span {
    padding-left: 5px;
    color: #60574E;
}

.imgComentario {
    width: 45px;
    height: 45px;
    border-radius: 8px;
}

.comentario {
    background-color: #c7ba8e;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 8px;
}

.comentarioInput {
    background-color: #D0C7A5;
    border: none;
}

input[type="text"].comentarioInput:focus {
    outline: 0 none !important;
    outline-color: #60574e !important;
}

.iEnviar {
    color: #f2f2f2;
}