<app-navbar-administrador nombre="Mario Garzón" pagina="recordatorios"></app-navbar-administrador>

<div>
    <div class="row titulos-lista">
        <div class="titulos"><span class="negrita">Recordatorios</span></div>
    </div>
    <div class="container-principal">
        <div class="Clientes">
            <div class="">
                <div class="titulo"><span class="negrita">Clientes</span></div>
            </div>
            <div class="form-group">
                <textarea name="text" id="cajaTexto" class="form-control" col="10" rows="3"
                    placeholder="Recordatorio"></textarea>
            </div>
            <div class="flex">
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Día</option>
                        <option value="1">Lunes</option>
                        <option value="2">Martes</option>
                        <option value="3">Miércoles</option>
                        <option value="3">Jueves</option>
                        <option value="3">Viernes</option>
                        <option value="3">Sábado</option>
                        <option value="3">Domingo</option>
                    </select>
                </div>
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Hora</option>
                        <option value="1">7:00</option>
                        <option value="2">8:00</option>
                        <option value="3">9:00</option>
                        <option value="3">10:00</option>
                        <option value="3">11:00</option>
                        <option value="3">12:00</option>
                        <option value="3">13:00</option>
                        <option value="3">14:00</option>
                        <option value="3">15:00</option>
                        <option value="3">16:00 </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primario " type="submit" id="button-addon2">
                Enviar
            </button>
        </div>
        <div class="Comerciantes">
            <div class="row ">
                <div class="titulo"><span class="negrita">Comerciantes</span></div>
            </div>
            <div class="form-group">
                <textarea name="text" id="cajaTexto" class="form-control" col="10" rows="3"
                    placeholder="Recordatorio"></textarea>
            </div>
            <div class="flex">
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Día</option>
                        <option value="1">Lunes</option>
                        <option value="2">Martes</option>
                        <option value="3">Miércoles</option>
                        <option value="3">Jueves</option>
                        <option value="3">Viernes</option>
                        <option value="3">Sábado</option>
                        <option value="3">Domingo</option>
                    </select>
                </div>
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Hora</option>
                        <option value="1">7:00</option>
                        <option value="2">8:00</option>
                        <option value="3">9:00</option>
                        <option value="3">10:00</option>
                        <option value="3">11:00</option>
                        <option value="3">12:00</option>
                        <option value="3">13:00</option>
                        <option value="3">14:00</option>
                        <option value="3">15:00</option>
                        <option value="3">16:00 </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primario " type="submit" id="button-addon2">
                Enviar
            </button>
        </div>
    </div>
</div>