<div class="background">

</div>

<!-- Alertas -->
<div *ngIf="error != undefined" class="alert alert-secondary alert-dismissible fade show alerta" role="alert">
    {{error}}
    <button (click)="resetError()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Fin alertas -->

<div class="contenedor">
    <div class="contenido">
        <div class="switch-container">
            <span class="p-label">Comprador</span>
            <a href="/registroComprador" class="switch"></a>
            <span class="p-label">Comerciante</span>
        </div>
        <div>
            <div class="row">
                <p class="col-sm-12 p-label">Información del puesto</p>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <input [(ngModel)]="nombre" type="text" class="form-control" id="nombrePuesto"
                        placeholder="Nombre el puesto">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <input [(ngModel)]="email" type="email" class="form-control" id="email"
                        placeholder="Correo electrónico">
                </div>
                <div class="form-group col-sm-6">
                    <input [(ngModel)]="telefono" type="tel" class="form-control" id="telefono" placeholder="Teléfono">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <input [(ngModel)]="contrasenna" type="password" class="form-control" id="password"
                        placeholder="Contraseña">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <textarea [(ngModel)]="ubicacion" class="form-control" id="direccion" rows="3"
                        placeholder="Dirección"></textarea>
                </div>
            </div>

            <div class="row">
                <p class="col-sm-12 p-label">Información de pago</p>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <input [(ngModel)]="nombreCuenta" type="text" class="form-control" id="nombreCuenta"
                        placeholder="Nombre de la cuenta">
                </div>
                <div class="form-group col-sm-6">
                    <input [(ngModel)]="numeroCuenta" type="number" class="form-control" id="numeroCuenta"
                        placeholder="Número de cuenta (IBAN)">
                </div>
            </div>

            <button (click)="enviarSolicitud()" type="button" class="btn registrar-btn">Registrarse</button>
        </div>
        <p class="registrate-text p-label">¿Ya tienes cuenta?<a href="/" class="inicia-sesion-btn">Inicia
                sesión</a></p>
    </div>
</div>