.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../../../assets/mesa_bg.jpg);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.3);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenido {
    width: 40%;
    min-width: 470px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 3rem;
    padding-bottom: 2rem;
}

.switch-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.switch {
    width: 44px;
    margin: 0 8px;
    height: 25px;
    background-color: #f2f2f2;
    border-radius: 40px;
}

.switch:hover {
    cursor: pointer;
}

.switch::after {
    content: '';
    width: 25px;
    height: 25px;
    float: right;
    border-radius: 50%;
    background-color: #891312;
    display: block;
}

.registrar-btn {
    background-color: #891312;
    color: #ECF5FF;
    width: 100%;
}

.registrar-btn:hover {
    background-color: #771312;
    cursor: pointer;
}

.registrate-text {
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}

.inicia-sesion-btn {
    color: #891312;
    margin-left: 5px;
}

.inicia-sesion-btn:hover {
    color: #bb1320;
}

span.p-label {
    color: #f2f2f2;
}

.p-label {
    color: #f2f2f2;
}

.alerta {
    position: absolute;
    width: 40%;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}