<div class="background">

</div>

<div class="contenedor">
    <div class="contenido">
        <div class="switch-container">
            <span class="p-label">Comprador</span>
            <a href="/registroComerciante" class="switch"></a>
            <span class="p-label">Comerciante</span>
        </div>
        <form action="#">
            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <input type="date" class="form-control" id="fechaNacimiento" placeholder="Fecha de nacimiento">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
                </div>
                <div class="form-group col-sm-6">
                    <input type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
                </div>
            </div>

            <button type="button" class="btn registrar-btn">Registrarse</button>
        </form>
        <p class="registrate-text p-label">¿Ya tienes cuenta?<a href="/" class="inicia-sesion-btn">Inicia
                sesión</a></p>
    </div>
</div>