<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-green">
    <a class="navbar-brand" routerLink="/cliente">Mi mercadito</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" [ngClass]="{'active': pagina=='perfil'}">
                <a class="nav-link" routerLink="/cliente">Perfil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [ngClass]="{'active': pagina=='buscarProducto'}">
                <a class="nav-link" routerLink="/cliente/buscarProducto">Buscar productos</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': pagina=='verPuesto'}">
                <a class="nav-link" routerLink="/cliente/verPuesto">Puestos</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': pagina=='misPedidos'}">
                <a class="nav-link" routerLink="/cliente/misPedidos">Mis pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Salir</a>
            </li>
        </ul>

    </div>
    <div class="form-inline contenedor-derecho float-right">
        <div class="contenedor-carrito-icono">
            <a routerLink="/cliente/carrito" class="carrito-icono"><i class="fas fa-shopping-cart"></i></a>
            <div class="carrito-icono-globo"></div>
        </div>
        <img class="imagen-usuario" src="../../../assets/user-default.png" alt="foto usuario">
        <span class="nombre-usuario">{{nombre}}</span>
    </div>
</nav>