<div class="contenedor row">
    <div><img class="imagen-repartidor" src="../../../assets/user-default.png" alt="foto repartidor"></div>
    <div id="nombreRepartidor" class="col-5 col-sm-8"><span>{{nombre}}</span></div>
    <div><a onclick="window.location.href='administrador/actualizarRepartidor'"><img class="imagen-editar"
                src="../../../assets/pencil-solid-24.png" alt="editar"></a></div>
    <div> <a href="#"><img class="imagen-eliminar" src="../../../assets/bxs-trash.svg" alt="eliminar"></a></div>


</div>