<app-navbar-comerciante nombre="{{nombre}}" pagina="miPuesto"></app-navbar-comerciante>

<div class="contenedor">
    <div class="row">
        <div class="contenedorImagen">
            <img class="perfilImagen" src="../../../assets/tomate.png" alt="Producto" srcset="">
        </div>
        <div class="informacionProducto">
            <h4>
                Agregar producto a mi puesto
            </h4>
            <div class="formulario" action="#">
                <div class="input-group mb-3">
                    <input [(ngModel)]="productoNuevo" type="text" class="form-control" placeholder="Agregar producto"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="cantidad" type="text" class="form-control" placeholder="Agregar la cantidad"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="montokg" type="text" class="form-control" placeholder="Agregar monto por kg"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="montounidad" type="text" class="form-control"
                        placeholder="Agregar monto por unidad" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                </div>

                <button (click)="enviarProducto()" class="btn btn-primario btn-comprar botonAgregar" type="button"
                    id="button-addon2">Agregar</button>
            </div>
        </div>
    </div>
</div>