<app-navbar-cliente nombre={{nombre}}></app-navbar-cliente>

<div class="contenedorPrincipal">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 columnaIzquierda ">
                <img class="perfilImagen" src="../../../assets/user-default.png" alt="Usuario" srcset="">
            </div>
            <div class="col-sm-8 columnaDerecha ">
                <div>
                    <span class="letraNombre">{{nombre}}</span>
                </div>
                <div>
                    <i class="fas fa-id-card"></i>
                    <span>{{cedula}}</span>
                </div>
                <div>
                    <i class="fas fa-birthday-cake"></i>
                    <span>{{fechaNacimiento}}</span>
                </div>
                <div>
                    <i class="fas fa-phone-alt"></i>
                    <span>{{telefono}}</span></div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>{{correo}}</span></div>
                <div>
                    <i class="fas fa-map-marked-alt"></i>
                    <span>{{ubicacion}}</span></div>
            </div>
        </div>
    </div>
</div>