<app-navbar-comerciante nombre="{{nombre}}" pagina="verInventario"></app-navbar-comerciante>

<div class="contenedor">
    <div class="row">
        <div class="contenedorImagen">
            <img class="perfilImagen" src="../../../assets/user-default.png" alt="Producto" srcset="">
        </div>
        <div class="contenedorDescripcion">
            <h2> {{producto}}</h2>
            <h4> {{descripcion}}</h4>
        </div>
    </div>
    <!--<div class="container">
        <button (click)="eliminarProducto()" class="btn btn-primario btn-comprar botonEliminar" type="button"
            id="button-addon2">Eliminar</button>
    </div>-->
</div>