<app-navbar-comerciante nombre="Productos Fresquita"></app-navbar-comerciante>

<div class="contenedor">
    <div class="row">
        <div class="contenedorImagen">
            <img class="perfilImagen" src="../../../assets/tomate.png" alt="Producto" srcset="">
        </div>
        <div class="contenedorDescripcion">
            <h2> Tomate</h2>
            <h4> Los mejores tomates del mercado, siempre frescos y a si disposición.</h4>
        </div>
    </div>
    <div class="container">
        <button class="btn btn-primario btn-comprar botonActualizar">Actualizar</button>
        <button class="btn btn-primario btn-comprar botonEliminar">Eliminar</button>
    </div>
</div>