<app-navbar-comerciante nombre="Productos Fresquita"></app-navbar-comerciante>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Pedidos por preparar</h3>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-comerciante>
        </div>
        <div class="col-sm-6">
            <h3>Pedidos por enviar</h3>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-comerciante>
            <app-item-pedido-comerciante estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-comerciante>

        </div>
    </div>
</div>