<div class="contenedor row">
    <div><img class="imagen-afiliado" src="../../../assets/user-default.png" alt="foto repartidor"></div>
    <div id="nombreAfiliado" class="col-5 col-sm-8"><span>{{nombre}}</span></div>
    <div><a onclick="window.location.href='administrador/perfilAfiliado'"><img class="imagen-informacion" src="../../../assets/bxs-detail.svg" alt="informacion"></a></div>
    <div> <a href="#"><img class="imagen-confirmar" src="../../../assets/comprobado.png" alt="confirmar"></a></div>
    <div> <a href="#"><img class="imagen-cancelar" src="../../../assets/cancelar.png" alt="cancelar"></a></div>


</div>