<div class="contenedor row">
    <div><img class="imagen-afiliado" src="../../../assets/user-default.png" alt="foto repartidor"></div>
    <div id="nombreAfiliado" class="col-5 col-sm-8"><span>{{nombre}}</span></div>
    <div class="icono">
        <a [routerLink]="[ ruta , idsolicitud ]"><i class="fas fa-list-alt"></i></a>
    </div>
    <div class="icono">
        <button class="bton" (click)=aceptarSolicitud()>
            <i class="fas fa-user-check"></i>
        </button>
    </div>
    <div class="icono">
        <a href="#"><i class="fas fa-window-close"></i></a>
    </div>
</div>