<div class="contenedorPrincipal">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img class="perfilImagen" src="../../../assets/user-default.png" alt="Usuario" srcset="">
            </div>
            <div class="col-sm-8 columnaDerecha ">
                <div>
                    <span class="letraNombre">{{nombre}}</span>
                </div>
                <div>
                    <span>{{comentario}}</span></div>
            </div>
        </div>
    </div>
</div>