<app-navbar-carrito-cliente nombre="Rodrigo Zúñiga" pagina="carrito"></app-navbar-carrito-cliente>

<div class="contenedor-carrito">

    <div class="titulo-tabla row">
        <span class="col-4 col-sm-6 titulo-columna" style="padding-left: 27px;">Producto</span>
        <span class="col-3 col-sm-3 titulo-columna centrar">Cantidad</span>
        <span class="col-4 col-sm-2 titulo-columna centrar">Monto (₡)</span>
    </div>

    <div class="tabla">
        <p *ngIf="carritoService.productos.length == 0" class="no-hay">Carrito se encuentra vacío</p>
        <app-item-carrito *ngFor="let p of carritoService.productos" nombre="{{p.nombre}}" cantidad="1"
            monto="{{p.montokg}}"></app-item-carrito>
    </div>

    <div class="contenedor-formulario row">
        <div class="col-sm-8">
            <div class="form-check">
                <input [(ngModel)]="requiereDireccion" class="form-check-input" type="checkbox" value=""
                    id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Requiero servicio de envio
                </label>
            </div>
            <div *ngIf="requiereDireccion == true" class="form-group">
                <textarea [(ngModel)]="direccion" class="form-control" placeholder="Direccion" id="direccion"
                    rows="3"></textarea>
            </div>
        </div>
        <div class="col-sm-4 contenedor-total">
            <div><span class="total-text">Total</span></div>
            <h1>₡ {{total}}</h1>
            <button (click)="comprar()" class="btn btn-primario btn-comprar">Comprar</button>
        </div>
    </div>


</div>