<app-navbar-carrito-cliente pagina="metodoPago"></app-navbar-carrito-cliente>

<div class="contenedor-pago">
    <div class="contenido">
        <div class="">
            <img class="imagen-tarjeta" src="../../../assets/credit-card.png" alt="tarjeta de credito imagen">
        </div>

        <div class="formulario">
            <form action="#">
                <div class="form-group">
                    <label for="nombreTarjeta">Nombre de la tarjeta</label>
                    <input type="text" class="form-control" id="nombreTarjeta" aria-describedby="nombre de la tarjeta"
                        placeholder="Nombre de la tarjeta">
                </div>
                <div class="form-group">
                    <label for="numeroTarjeta">Número de la tarjeta</label>
                    <input type="text" class="form-control" id="numeroTarjeta" aria-describedby="número de la tarjeta"
                        placeholder="1234 5678 9012 3456">
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <label>Fecha de expiración</label>
                        <div class="row">
                            <div class="col sm-9">
                                <select class="form-control">
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero</option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="{{anio}}" *ngFor="let anio of aniosExpiracion">{{anio}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="cvv">Código de seguridad</label>
                            <input type="number" class="form-control" id="cvv" aria-describedby="código de seguridad"
                                placeholder="CVV">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primario">Pagar</button>
            </form>
        </div>
    </div>
</div>