<app-nav-bar-repartidor pagina="pedidos" nombre="{{nombreUsuario}}"></app-nav-bar-repartidor>
<div class="contenedorPrincipal">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 contenedorIzquierda">
                <div class="contenedorImg">
                    <img class="perfilImagen" src="../../../assets/user-default.png" alt="Usuario" srcset="">
                </div>

                <div class="datoCliente">
                    <span class="letraNombre">{{nombre}}</span>
                </div>
                <!-- <div class="datoCliente">
                    <i class="fas fa-id-card"></i>
                    <span>{{cedula}}</span>
                </div> -->
                <!-- <div class="datoCliente">
                    <i class="fas fa-birthday-cake"></i>
                    <span>{{fechaNacimiento}}</span>
                </div> -->
                <div class="datoCliente">
                    <i class="fas fa-phone-alt"></i>
                    <span>{{telefono}}</span></div>
                <!-- <div class="datoCliente">
                    <i class="fas fa-envelope"></i>
                    <span>{{correo}}</span></div> -->
                <div class="datoCliente">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>{{ubicacion}}</span></div>
            </div>
            <div class="col-sm-9 ">
                <h3>Detalle del pedido</h3>
                <div class="row titulos">
                    <div class="col-sm-6 col-3">Producto</div>
                    <div class="col-sm-3 col-4">Comerciante</div>
                    <div class="col-sm-2 col-3">Cantidad</div>
                </div>
                <div class="tabla">
                    <app-item-producto-repartidor  *ngFor="let detalle of pedido" producto="{{detalle.nombreproducto}}" comerciante="{{detalle.nombrecomerciante}}" 
                    cantidad="{{detalle.cantidadproducto + detalle.medicionproducto}}  " estado="{{detalle.estadoproducto == true ? 'listo':'no-listo'}}" idProducto = "{{detalle.idproducto}}" idPedido = "{{detalle.idpedido}}" ></app-item-producto-repartidor>
                </div>
            </div>
        </div>

    </div>
</div>