<div class="contenedor">
    <span *ngIf="cantidad != '' " class="cantidad">{{cantidad}}</span>
    <span class="nombre">{{nombre}}</span>
    <div class="divisor">
        <span>.............................................................................................................................................................................................................................................................................................................</span>
    </div>
    <span class="precio">₡ {{precio}}</span>
</div>