<app-navbar-comerciante nombre={{sesionComerciante.nombre}} pagina="miPuesto"></app-navbar-comerciante>

<div class="contenedor">

    <div class="imagenComercio">
        <h3>Productos Fresquita</h3>
        <img class="perfilImagen" src="../../../assets/foto_perfil_comerciante.jpg" alt="Usuario" srcset="">
    </div>
    <div class="titulo-tabla row">
        <span class="col-4 col-sm-3 titulo-columna" style="padding-left: 27px;">Producto</span>
        <span class="col-4 col-sm-3 titulo-columna centrar">Cantidad</span>
        <span class="col-4 col-sm-2 titulo-columna centrar">Monto x Kg</span>
        <span class="col-4 col-sm-2 titulo-columna centrar">Monto x Unidad</span>
        <a routerLink='/comerciante/agregarProductoMiPuesto'
            class="col-4 col-sm-1 titulo-columna btn btn-primario boton">Agregar</a>
    </div>

    <div class="tabla">
        <app-item-producto *ngFor="let producto of productos" nombre={{producto.nombre}} cantidad={{producto.cantidad}}
            montoxKg={{producto.montokg}} montoxUnidad={{producto.montounidad}} boton="Eliminar" id="{{producto.id}}"
            ruta="/comerciante/agregarProductoMiPuesto">
        </app-item-producto>

        <!--<app-item-producto nombre="Peras" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        <app-item-producto nombre="Aguacates" cantidad="2 kg" montoxKg="₡2500" montoxUnidad="₡2500"></app-item-producto>
        -->
    </div>

</div>