<app-navbar-cliente nombre="Rodrigo Zúñiga" pagina="misPedidos"></app-navbar-cliente>

<div class="contenedor">
    <h1 class="titulo">Productos adquiridos</h1>
    <div class="linea"></div>
    <div class="itemes">
        <app-item-factura-cliente *ngFor="let item of itemes" nombre="{{item.nombreproducto}}"
            cantidad="{{item.cantidad}}" precio="{{item.monto}}">
        </app-item-factura-cliente>
    </div>
    <div class="linea"></div>
    <app-item-factura-cliente cantidad="" nombre="Sub-total" precio="{{subtotal}}"></app-item-factura-cliente>
    <app-item-factura-cliente cantidad="" nombre="Cargo por servicio" precio="{{cargoServicio}}">
    </app-item-factura-cliente>
    <!-- <app-item-factura-cliente cantidad="" nombre="Cargo por envio" precio="{{cargoEnvio}}"></app-item-factura-cliente> -->
    <app-item-factura-cliente cantidad="" nombre="Total" precio="{{total}}"></app-item-factura-cliente>

</div>