<app-nav-bar-repartidor pagina="pedidos" nombre="Pedro Ramirez Villalobos"></app-nav-bar-repartidor>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Pedidos por preparar</h3>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="si">
            </app-item-pedido-repartidor>
        </div>
        <div class="col-sm-6">
            <h3>Pedidos por enviar</h3>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-repartidor>
            <app-item-pedido-repartidor estado="no-completado" nombre="Rodrigo Zúñiga" fecha="01 ene 2020" enviar="no">
            </app-item-pedido-repartidor>

        </div>
    </div>
</div>