<app-nav-bar-repartidor pagina="pedidos" nombre="{{nombre}}"></app-nav-bar-repartidor>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Pedidos por preparar</h3>
            <app-item-pedido-repartidor *ngFor="let pedido of pedidosPorHacer" estado="{{pedido.estadopreparado ? 'completado':'no-completado'}}" nombre="{{pedido.nombre}}" fecha="{{pedido.fecha}}" enviar="{{pedido.transporte == '1' ? 'si':'no'}}" idpedido="{{pedido.id}}"
                ruta="/repartidor/detallesPedido">
            </app-item-pedido-repartidor>
        </div>
        <div class="col-sm-6">
            <h3>Pedidos por enviar</h3>
            <app-item-pedido-repartidor *ngFor="let pedido of pedidosPorEnviar" estado="{{pedido.estadoentregado ? 'completado':'no-completado'}}" nombre="{{pedido.nombre}}" fecha="{{pedido.fecha}}" enviar="{{pedido.transporte == '1' ? 'si':'no'}}" idpedido="{{pedido.id}}"
                ruta="/repartidor/detallesPedido">
            </app-item-pedido-repartidor>
        </div>
    </div>

</div>