<div class="contenedor row">
    <div class="col-4 col-sm-3"><span>{{nombre}}</span></div>
    <div class="col-3 col-sm-3 centrar"><span>{{cantidad}}</span></div>
    <div class="col-3 col-sm-2 centrar"><span>{{montoxKg}}</span></div>
    <div class="col-3 col-sm-3 centrar"><span>{{montoxUnidad}}</span></div>
    <div class="input-group-append">
        <button (click)="eliminarProducto()" class="fas fa-trash" type="button"></button>
    </div>
    <!--<a *ngIf="boton == 'Eliminar'" (click)="eliminarProducto()" class="btn btn-secundario">{{boton}}</a>-->
</div>