/* You can add global styles to this file, and also import other style files */

.btn-primario {
    background-color: #1f6b3f;
    color: #f2f2f2;
}

.btn-primario:hover {
    color: #f2f2f2;
    background-color: #116b3f;
}

.btn-secundario {
    background-color: #60574E;
    color: #f2f2f2;
}

.btn-secundario:hover {
    color: #f2f2f2;
    background-color: #60473E;
}