.contenedorPrincipal {
    margin-top: 100px;
}

.columnaDerecha {
    margin-left: 0;
    padding-left: 50px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width:575px) {
    .columnaDerecha {
        margin: 0 15px;
    }
}

.columnaIzquierda {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.perfilImagen {
    width: 300px;
    height: 300px;
    /* border: 1px solid green; */
    margin: 20px 0;
    margin-right: 0;
    border-radius: 8px;
}

.letraNombre {
    color: #60574E;
    font-weight: bold;
    font-size: 20px;
}

i {
    color: #60574E;
}

span {
    padding-left: 5px;
    color: #60574E;
}

.tabla {
    max-height: 32vh;
    padding-left: 20px;
    overflow-y: auto;
    scroll-behavior: auto;
}

.contenedorComentarios {
    background: rgba(199, 186, 142, 0.5);
    margin-top: 10px;
    width: 1050px;
    height: 300px;
}

h3 {
    padding-left: 5px;
    padding-top: 10px;
    color: #60574E;
}