<app-navbar-comerciante nombre={{nombre}}></app-navbar-comerciante>
<div class="contenedorPrincipal">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 columnaIzquierda ">
                <img class="perfilImagen" src="../../../assets/foto_perfil_comerciante.jpg" alt="Usuario" srcset="">
            </div>
            <div class="col-sm-8 columnaDerecha ">
                <div>
                    <span class="letraNombre">{{nombre}}</span>
                </div>
                <div>
                    <i class="fas fa-phone-alt"></i>
                    <span>{{telefono}}</span></div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>{{correo}}</span></div>
                <div>
                    <i class="fas fa-map-marked-alt"></i>
                    <span>{{ubicacion}}</span></div>
            </div>
        </div>
    </div>
    <div class="container contenedorComentarios">
        <h3>Comentarios</h3>
        <div class="tabla">
            <app-item-comentario nombre="Ronald  Fernández Gomez"
                comentario="Los productos siempre se encuantran con gran calidad, muy frescos y a buen precio.">
            </app-item-comentario>
            <app-item-comentario nombre="Stephanie Delgado Brenes"
                comentario="Excelente servicio, muy rápido y con un buen precio.">
            </app-item-comentario>
            <app-item-comentario nombre="Stephanie Delgado Brenes"
                comentario="Excelente servicio, muy rápido y con un buen precio.">
            </app-item-comentario>
            <app-item-comentario nombre="Stephanie Delgado Brenes"
                comentario="Excelente servicio, muy rápido y con un buen precio.">
            </app-item-comentario>
            <app-item-comentario nombre="Stephanie Delgado Brenes"
                comentario="Excelente servicio, muy rápido y con un buen precio.">
            </app-item-comentario>
        </div>
    </div>
</div>