a {
    width: 100%;
}

h5 {
    text-align: center;
}

.card-body {
    background-color: #ddd;
    width: 100% !important;
}

.card-img-top {
    width: 100% !important;
}

.card {
    margin-bottom: 10px !important;
}

.card-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 12px;
}

button {
    width: 100%;
}