<div class="card" style="width: 250px;">
    <img src="../../../assets/user-default.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <div class="card-texto">
            <span>{{subtitulo}}</span>
            <span>{{precio}}</span>
        </div>
        <!-- <p class="card-text">{{subtitulo}}</p> -->
        <a *ngIf="boton == 'Ver perfil'" [routerLink]="[ruta, id]" class="btn btn-secundario">{{boton}}</a>
        <button *ngIf="boton == 'Agregar al carrito'" (click)="agregarCarrito()"
            class="btn btn-secundario">{{boton}}</button>
    </div>
</div>